openapi: 3.2.0
info:
  title: Parlay Sgp API
  description: Real-time sports odds aggregation from **33 books and data sources** updated every 2-120 seconds depending on source cadence.
  version: 3.2.0
  x-credit-currency: credits
  x-credit-cost-catalogue-url: /v1/meta/credit-costs
  x-pricing-url: /v1/pricing
  x-usage-url: /v1/usage
  contact:
    name: ParlayAPI support
    url: https://parlay-api.com/support
    email: support@parlay-api.com
  license:
    name: ParlayAPI Terms of Service
    url: https://parlay-api.com/terms
  termsOfService: https://parlay-api.com/terms
servers:
- url: https://parlay-api.com
  description: Production (primary; HTTP/2, TLS 1.3).
- url: https://api.parlay-api.com
  description: Production (high-volume; bypasses Cloudflare edge for trading bots above 30 req/min). Same origin, same auth, same endpoints.
tags:
- name: Sgp
paths:
  /v1/sgp/price:
    post:
      summary: Sgp Price
      description: 'Same-game parlay correlation pricer.


        Body: `{legs: [, ...]}`. Each leg: sport_key, market,

        side, book (always); player + line (player props);

        home_team + away_team + game_date (always).


        Response: per-leg marginals, independent baseline, literature-

        correlation-adjusted parlay implied, book payout multiplier,

        EV ratio. Unpriced legs land in `unpriced_legs`; the parlay

        estimate collapses to null when any leg is unpriced (we NEVER

        fabricate a missing marginal). Correlation audit names the

        literature source used per pair.


        Cost: 10 base + 5 credits per leg. Min 15.


        Gated by `SGP_PRICER_ENABLED=1`. Default OFF; returns 503

        with explanatory body when disabled.'
      operationId: sgp_price_v1_sgp_price_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      x-credit-cost-formula: max(15, 10 + 5 x len(legs))
      x-credit-cost-floor: 15
      x-credit-cost-type: variable
      x-credit-cost-example: 3-leg SGP = max(15, 25) = 25 credits
      x-credit-cost-description: Same-game parlay correlation pricer with literature-cited rho
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
      - bearerAuth: []
      tags:
      - Sgp
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed in the X-API-Key header. Recommended.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the ?apiKey= query parameter. Useful for browser fetch() and webhooks where header control is limited. Equivalent to X-API-Key.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'API key passed via Authorization: Bearer <key>. Equivalent to X-API-Key for compatibility with auth libraries that expect bearer tokens.'
