openapi: 3.2.0
info:
  title: Parlay Metrics API
  description: Real-time sports odds aggregation from **33 books and data sources** updated every 2-120 seconds depending on source cadence.
  version: 3.2.0
  x-credit-currency: credits
  x-credit-cost-catalogue-url: /v1/meta/credit-costs
  x-pricing-url: /v1/pricing
  x-usage-url: /v1/usage
  contact:
    name: ParlayAPI support
    url: https://parlay-api.com/support
    email: support@parlay-api.com
  license:
    name: ParlayAPI Terms of Service
    url: https://parlay-api.com/terms
  termsOfService: https://parlay-api.com/terms
servers:
- url: https://parlay-api.com
  description: Production (primary; HTTP/2, TLS 1.3).
- url: https://api.parlay-api.com
  description: Production (high-volume; bypasses Cloudflare edge for trading bots above 30 req/min). Same origin, same auth, same endpoints.
tags:
- name: Metrics
paths:
  /v1/metrics:
    get:
      summary: Prometheus Metrics
      description: 'Prometheus exposition format metrics. Public, no auth, no

        credits. text/plain content-type.


        Industry-standard scrape target: customers'' Prometheus,

        Grafana Agent, Datadog OpenMetrics integration, or any

        OpenMetrics-compatible scraper polls this endpoint every

        15-60 seconds. The metrics include:


        - parlayapi_requests_total{status_class="2xx|3xx|4xx|5xx"}

        - parlayapi_endpoint_requests_total{path, status_class}

        - parlayapi_endpoint_request_duration_seconds{path, status_class}

        - parlayapi_worker_uptime_seconds

        - parlayapi_api_version (gauge with version_string label)

        - parlayapi_postgres_deadlocks_total (always 0 since iter_8)

        - parlayapi_idempotency_keys_active (currently 0 if Redis miss)


        All metrics carry a `worker` label so customers'' Prometheus

        deduplicates correctly across the 5-worker pool. Customers

        aggregate across workers via `sum by(status_class)` queries.


        Cache-Control: no-cache (always fresh). The body is small

        (~2 KB) so the cost is trivial.


        sleep_iter_40 #539.'
      operationId: prometheus_metrics_v1_metrics_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Metrics
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed in the X-API-Key header. Recommended.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the ?apiKey= query parameter. Useful for browser fetch() and webhooks where header control is limited. Equivalent to X-API-Key.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'API key passed via Authorization: Bearer <key>. Equivalent to X-API-Key for compatibility with auth libraries that expect bearer tokens.'
