openapi: 3.2.0
info:
  title: Parlay Datasets API
  description: Real-time sports odds aggregation from **33 books and data sources** updated every 2-120 seconds depending on source cadence.
  version: 3.2.0
  x-credit-currency: credits
  x-credit-cost-catalogue-url: /v1/meta/credit-costs
  x-pricing-url: /v1/pricing
  x-usage-url: /v1/usage
  contact:
    name: ParlayAPI support
    url: https://parlay-api.com/support
    email: support@parlay-api.com
  license:
    name: ParlayAPI Terms of Service
    url: https://parlay-api.com/terms
  termsOfService: https://parlay-api.com/terms
servers:
- url: https://parlay-api.com
  description: Production (primary; HTTP/2, TLS 1.3).
- url: https://api.parlay-api.com
  description: Production (high-volume; bypasses Cloudflare edge for trading bots above 30 req/min). Same origin, same auth, same endpoints.
tags:
- name: Datasets
paths:
  /datasets/nfl-week-1-opening-lines-2026.csv:
    get:
      summary: Week1 Opening Lines Csv
      description: 'NFL Week 1 2026 opening line vs current line, one row per

        game / book / market / side.


        Free, no auth, no credits, free to redistribute with attribution and

        a link back to /nfl/week-1-opening-lines. Column reference and the

        exact definition of "opening line" are on that page.'
      operationId: week1_opening_lines_csv_datasets_nfl_week_1_opening_lines_2026_csv_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Datasets
  /datasets/nfl-week-1-opening-lines-2026.json:
    get:
      summary: Week1 Opening Lines Json
      description: 'Machine-readable summary of the Week 1 opening-lines dataset:

        counts, the as-of timestamp, the game and book lists, what was

        excluded and why, and the biggest opener-to-now consensus moves.


        Free, no auth, no credits.'
      operationId: week1_opening_lines_json_datasets_nfl_week_1_opening_lines_2026_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Datasets
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed in the X-API-Key header. Recommended.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the ?apiKey= query parameter. Useful for browser fetch() and webhooks where header control is limited. Equivalent to X-API-Key.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'API key passed via Authorization: Bearer <key>. Equivalent to X-API-Key for compatibility with auth libraries that expect bearer tokens.'
