openapi: 3.2.0
info:
  title: Parlay Exchange API
  description: Real-time sports odds aggregation from **33 books and data sources** updated every 2-120 seconds depending on source cadence.
  version: 3.2.0
  x-credit-currency: credits
  x-credit-cost-catalogue-url: /v1/meta/credit-costs
  x-pricing-url: /v1/pricing
  x-usage-url: /v1/usage
  contact:
    name: ParlayAPI support
    url: https://parlay-api.com/support
    email: support@parlay-api.com
  license:
    name: ParlayAPI Terms of Service
    url: https://parlay-api.com/terms
  termsOfService: https://parlay-api.com/terms
servers:
- url: https://parlay-api.com
  description: Production (primary; HTTP/2, TLS 1.3).
- url: https://api.parlay-api.com
  description: Production (high-volume; bypasses Cloudflare edge for trading bots above 30 req/min). Same origin, same auth, same endpoints.
tags:
- name: Exchange
paths:
  /v1/exchange/{sport_key}/markets:
    get:
      summary: Get Exchange Markets
      description: 'Get exchange/prediction market data with liquidity depth.


        **EXCLUSIVE** - No competitor offers this.


        Returns real-time order book data from betting exchanges including:

        - Best available prices (bid/ask)

        - Last traded prices

        - Market volume (liquidity in USD)

        - Player props with exchange pricing


        **Exchanges:** Novig (peer-to-peer sports exchange)


        **Example:** `GET /v1/exchange/americanfootball_nfl/markets?min_volume=100`


        Credits: 3 per request.'
      operationId: get_exchange_markets_v1_exchange__sport_key__markets_get
      parameters:
      - name: sport_key
        in: path
        required: true
        schema:
          type: string
          title: Sport Key
      - name: exchange
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter by exchange: novig, kalshi'
          title: Exchange
        description: 'Filter by exchange: novig, kalshi'
      - name: market_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter: MONEY, SPREAD, TOTAL, PLAYER_GOALS, etc.'
          title: Market Type
        description: 'Filter: MONEY, SPREAD, TOTAL, PLAYER_GOALS, etc.'
      - name: min_volume
        in: query
        required: false
        schema:
          type: number
          description: Minimum volume in USD
          default: 0
          title: Min Volume
        description: Minimum volume in USD
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-credit-cost: 3
      x-credit-cost-type: fixed
      x-credit-cost-description: Exchange order book data (Novig, ProphetX)
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
      - bearerAuth: []
      tags:
      - Exchange
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed in the X-API-Key header. Recommended.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the ?apiKey= query parameter. Useful for browser fetch() and webhooks where header control is limited. Equivalent to X-API-Key.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'API key passed via Authorization: Bearer <key>. Equivalent to X-API-Key for compatibility with auth libraries that expect bearer tokens.'
