openapi: 3.2.0
info:
  title: Parlay Collections API
  description: Real-time sports odds aggregation from **33 books and data sources** updated every 2-120 seconds depending on source cadence.
  version: 3.2.0
  x-credit-currency: credits
  x-credit-cost-catalogue-url: /v1/meta/credit-costs
  x-pricing-url: /v1/pricing
  x-usage-url: /v1/usage
  contact:
    name: ParlayAPI support
    url: https://parlay-api.com/support
    email: support@parlay-api.com
  license:
    name: ParlayAPI Terms of Service
    url: https://parlay-api.com/terms
  termsOfService: https://parlay-api.com/terms
servers:
- url: https://parlay-api.com
  description: Production (primary; HTTP/2, TLS 1.3).
- url: https://api.parlay-api.com
  description: Production (high-volume; bypasses Cloudflare edge for trading bots above 30 req/min). Same origin, same auth, same endpoints.
tags:
- name: Collections
paths:
  /collections/ParlayAPI.postman_collection.json:
    get:
      summary: Postman Collection Curated
      description: 'Curated Postman 2.1 collection: 30 requests across six folders.


        Import into Postman, Insomnia, Bruno or HTTPie with Import > Link and

        this URL. The first folder is keyless: seven requests that run against

        live production with no API key and no signup.


        Public, no auth, no credits. The auto-generated collection covering

        every endpoint is at /collections/postman.json.'
      operationId: postman_collection_curated_collections_ParlayAPI_postman_collection_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Collections
  /collections/postman.json:
    get:
      summary: Postman Collection
      description: 'Postman 2.1 collection auto-generated from the live OpenAPI spec.


        Drop into Postman / Insomnia / Bruno via Import -> URL:

        https://parlay-api.com/collections/postman.json


        Generated lazily on first request and cached in-process by the

        OpenAPI spec digest, so a deploy that updates the spec produces a

        fresh collection on the next request. Public, no auth.'
      operationId: postman_collection_collections_postman_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Collections
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed in the X-API-Key header. Recommended.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the ?apiKey= query parameter. Useful for browser fetch() and webhooks where header control is limited. Equivalent to X-API-Key.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'API key passed via Authorization: Bearer <key>. Equivalent to X-API-Key for compatibility with auth libraries that expect bearer tokens.'
