openapi: 3.2.0
info:
  title: Parlay Specification API
  description: Real-time sports odds aggregation from **33 books and data sources** updated every 2-120 seconds depending on source cadence.
  version: 3.2.0
  x-credit-currency: credits
  x-credit-cost-catalogue-url: /v1/meta/credit-costs
  x-pricing-url: /v1/pricing
  x-usage-url: /v1/usage
  contact:
    name: ParlayAPI support
    url: https://parlay-api.com/support
    email: support@parlay-api.com
  license:
    name: ParlayAPI Terms of Service
    url: https://parlay-api.com/terms
  termsOfService: https://parlay-api.com/terms
servers:
- url: https://parlay-api.com
  description: Production (primary; HTTP/2, TLS 1.3).
- url: https://api.parlay-api.com
  description: Production (high-volume; bypasses Cloudflare edge for trading bots above 30 req/min). Same origin, same auth, same endpoints.
tags:
- name: Specification
  description: OpenAPI and AsyncAPI specs describing the REST and streaming surfaces.
paths:
  /v1/asyncapi.json:
    get:
      summary: Get Asyncapi Spec
      description: 'AsyncAPI 3 spec describing the WebSocket and SSE surface.


        Companion to /openapi.json for the streaming endpoints. Customers

        can generate typed SDKs from this spec via the AsyncAPI generator

        toolchain (30+ language templates available). No API key required.


        See https://www.asyncapi.com for tooling. The spec covers connect

        handshake, initial_state, odds_update, heartbeat, subscribe /

        unsubscribe commands, and the close-code matrix. Tier gate

        documented under `x-parlay-tier-gates`.


        sleep_iter_22 #521: emits ETag + supports If-None-Match. Spec is

        loaded at module init and only changes on deploy.'
      operationId: get_asyncapi_spec_v1_asyncapi_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Specification
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed in the X-API-Key header. Recommended.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the ?apiKey= query parameter. Useful for browser fetch() and webhooks where header control is limited. Equivalent to X-API-Key.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'API key passed via Authorization: Bearer <key>. Equivalent to X-API-Key for compatibility with auth libraries that expect bearer tokens.'
